@import '../../../scss/abstracts/mixins', '../../../scss/abstracts/variables';

.preview {
    @include display_flex(column, center, none);
    @include border(2px, solid, $color-border-component);
    @include border-radius(5px);
    @include box-shadow(19px, 20px, 15px, 0px, rgba(0,0,0,0.1));
    
    width: 100%;
    height: 400px;
    overflow: clip;

    .preview-content {
        @include display_flex(row, flex-start, center);
        border-bottom: 2px solid $color-border-component;
        margin: 10px;
        .preview-title {
            margin-left: 1rem;
        }
    }

    .preview-content-marked {
        margin: 10px;
        height: 80%;
        padding: 10px;
        background-color: $color-background-components;
        @include border(1px, solid, $color-border-component);
        overflow: auto;
    }
}